* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none !important;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.cancel {
  background: none !important;
  border: none !important;
  font-weight: bold;
  color: #555;
}

.rounded-btn {
  border-radius: 50% !important;
  height: 20px !important;
  width: 20px !important;
  /* display: block !important; */
}

.item-size-button {
  background-color: #dddddd !important;
  border: 0px;
  border-radius: 0px !important;
  width: 60px;
  height: 32px;
  padding: 0px 12px !important;
  font-size: 14px !important;
  margin: 4px 8px 6px 0px;
}

.item-size-button.active {
  background-color: #e60c31 !important;
  color: #fff !important;
}

.item-size-button:hover {
  background-color: #e60c31 !important;
  color: #fff !important;
  transition: 0.3s;
}

.mens-wear {
  -ms-column-count: 3;
  -o-column-count: 3;
  -moz-column-count: 3;
  -khtml-column-count: 3;
  column-count: 3;
  color: #fff;
}

.nav-link {
  color: #fff !important;
}

.nav-link:hover {
  font-weight: bold;
  transition: 0.3s;
}

.btn {
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #666;
}

.search-input {
  padding: 0px 10px 0px 32px !important;
  height: 32px !important;
  width: 18rem !important;
  border-radius: 24px !important;
  background-color: #999 !important;
  border: none !important;
}

.search-icon {
  font-size: 16px;
  position: absolute;
  top: 8px;
  left: 10px;
  color: #fff;
  z-index: 100;
}

.search-input:focus {
  color: #fff !important;
}

.place-holder-white::placeholder {
  color: #fff !important;
  font-size: 14px;
}

.noUi-tooltip {
  background-color: none !important;
  border: none !important;
  top: 16px;
  position: fixed;
}

.noUi-target.noUi-ltr.noUi-horizontal {
  height: 5px;
  background: #999;
}

.noUi-handle.noUi-handle-lower,
.noUi-handle.noUi-handle-upper {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: #e60c31;
  border: 1px solid #fff;
}

.noUi-touch-area {
  background-color: #e60c31;
  border-radius: 50%;
}

.noUi-connect {
  background-color: #e60c31;
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
  right: -2px;
}

.noUi-handle:before,
.noUi-handle:after {
  display: none;
}

.solid-button {
  background-color: #e60c31 !important;
  border-radius: 40px !important;
  color: #fff !important;
  width: 100px;
  border: none !important;
}

.solid-button:hover {
  background-color: transparent !important;
  color: #e60c31 !important;
  transition: 0.3s;
}

.light-button {
  background-color: transparent !important;
  color: #e60c31 !important;
  border: none !important;
}

.light-button:hover {
  font-weight: bold !important;
  transition: 0.3s;
}

.image-tile {
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  padding-top: 6px;
}

.image-tile:hover {
  box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.3);
  border: none;
  transition: 0.3s;
}

.image-tile img {
  height: 240px;
}
